/* Start Global Style */

:root {
  --main-color: #fec260;
  --bg-dark-mode: #18122b;
  --main-transition: all 0.5s ease;
}

@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
  nav .search-box input{
   /* display: none; */
  }
}

a {
  text-decoration: none;
}
body {
  font-family: 'PT Sans Caption', sans-serif;
  background-color: #f7ecde;
}
body.dark-mode {
  background-color: #18122b;
}
h1 {
  font-family: 'Pacifico', cursive;
}
h2 {
  font-family: 'Righteous', sans-serif;
}
/* End Global Style */

/* Start Heading */
.logo .img {
  width: 1.875rem;
  height: 1.875rem;
  background-position: center;
  background-size: cover;
}


.logo .img.light-mode {
  background-image: url('/images/favicon.ico');
}
.logo .img.dark-mode {
  background-image: url('/images/favicondark.ico');
}
h1 {
  width: fit-content;
  font-size: 3rem;
  z-index: 0;
}
h1.dark-mode {
  color: #b9b4c7;
}
h1::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 30%;
  background-color: var(--main-color);
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: var(--main-transition);
}
h1.dark-mode::before {
  background-color: #5c5470;
}
h1:hover::before {
  height: 90%;
}
.line div {
  border-bottom: 0.0625rem #000 dashed;
}
.heading {
  font-family: 'Righteous', cursive;
  font-size: 1.5625rem;
  background-image: linear-gradient(
    to right,
    #3ca55c 0%,
    #3ca55c 50%,
    #8a9e23 60%,
    #b5ac49 100%
  );
  background-clip: text;

  -webkit-text-fill-color: transparent;
}
.heading.dark-mode {
  background-image: linear-gradient(
    to right,
    #b9b4c7 0%,
    #b9b4c7 50%,
    #5c5470 60%,
    #5c5470 100%
  );
}
/* End Heading */
/* Start Form */
.title {
  font-weight: 700;
  padding-bottom: 0.3125rem;
}
.title.dark-mode {
  color: #b9b4c7;
}
.form-control:focus {
  border: 0.25rem solid;
  border-color: var(--main-color);
  box-shadow: none;
}
.form-control.dark-mode:focus {
  border-color: #635985;
}
.form-control.dark-mode.is-invalid:focus,
.was-validated .form-control.dark-mode:invalid:focus {
  border-color: #635985;
  box-shadow: none;
}

.alert-danger.dark-mode {
  background-color: #b9b4c7;
  color: #18122b;
}
.submit {
  background-color: #bb4120;
  color: white;
}
.submit.dark-mode {
  background-color: #635985;
}
.submit.btn:hover {
  border: 0.0625rem solid #bb4120;
  color: #bb4120;
  background: transparent;
}
.submit.dark-mode.btn:hover {
  border: 0.0625rem solid #635985;
  color: #fff;
}
/* Start Table */

.delete.light-mode {
  background-color: #c13b15;
  color: white;
}
.delete.light-mode:hover {
  background-color: transparent;
  border: 0.0625rem solid #c13b15;
  color: #c13b15;
}
.delete.dark-mode {
  background-color: #0f044c;
  color: white;
}
.delete.dark-mode:hover {
  border: 0.0625rem solid #0f044c;
  background-color: transparent;
  color: #0f044c;
}
.visit.light-mode {
  background-color: #3ca55c;
  color: white;
}
.visit.light-mode:hover {
  background-color: transparent;
  border: 0.0625rem solid #3ca55c;
  color: #3ca55c;
}
.visit.dark-mode {
  background-color: #363062;
  color: white;
}
.visit.dark-mode:hover {
  background-color: transparent;
  border: 0.0625rem solid #363062;
  color: #363062;
}
.fa-moon {
  cursor: pointer;
  color: #18122b;
}
.fa-sun {
  cursor: pointer;
  color: var(--main-color);
}
.emptyitem {
  font-family: 'Pacifico', cursive;
}
.emptyitem.dark-mode {
  color: #b9b4c7;
}
/* End Table */
